<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @fabricante.nome %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @fabricante.codigo %>
</p>

<p>
  <strong><%= link_to 'Produtos', fabricante_produtos_path(@fabricante) %></strong>
</p>

<%= link_to 'Edit', edit_fabricante_path(@fabricante) %> |
<%= link_to 'Back', fabricantes_path %>
